<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingreso de productos</title>
</head>
<body>

  <h1>Ingreso de productos</h1>
  <p>Para ingresar el producto, por favor, completá el formulario.</p>

  <form action="/api/productos" method="POST">
    <input type="text" name="title" placeholder="Nombre del producto" required></input>
    <input type="number" name="price" placeholder="Precio" step="0.01" required></input>
    <input type="url" name="thumbnail" placeholder="URL de la imagen" required></input>
    <input type="submit" value="Agregar producto">
  </form>

</body>
</html>